<div class="container">
    <div class="row">
        <div class="col-12 py-4 p-5" style="box-shadow: 0px 5px 20px rgb(19 33 68 / 5%);">
         
            <h5 class="fw-bold pb-3">My Profile</h5>

            <div class="col-12 pb-3">
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Profile setting</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Password Update</label>
                </div>
            </div>

            <div class="col-xl-4">
                <label class="form-label" for="">Photo</label>
                <label class="sv-file-input">
                    <input type="file" class="profileImageUpload">
                        <div class="input__box">
                            <img id="inputboxImg" src="../../../../assets/svg_icon/card-image.svg" alt="" width="35px">
                        </div>
                        <span class="input__text">Upload Your Photo (png, jpeg, jpg)</span>
                </label>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">First Name *</label>
                  <input placeholder="first name" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="form-label">Last Name *</label>
                  <input placeholder="last name" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                  <label  class="form-label">Email</label>
                  <input placeholder="test@gmail.com" type="email" class="form-control">
                </div>

                <div class="col-md-2">
                  <label class="form-label">Code *</label>
                  <input placeholder="+88" class="form-control" type="number">
                </div>
                <div class="col-md-4">
                  <label class="form-label">Phone *</label>
                  <input placeholder="01XXXXXXXXX" type="number" class="form-control">
                </div>

                <div class="col-12">
                    <label class="form-check-label" for="gridCheck">Address</label>
                    <textarea placeholder="e.g. House#1, Road#1, Gulshan-1, Dhaka" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-12">
                  <button class="customBtn btn-primary">Update</button>
                  <button class="btn-outline ms-3">Cancel</button>
                </div>
              </div>
            
        </div>
    </div>
</div>